[Package]
version: 1
depends: 

[Product]
type: localboot
id: teska-hp-audiodienste-deaktivieren
name: teska-hp-audiodienste-deaktivieren
description: Deaktiviert HP Audiodienste mit Fehlermeldung conexant...
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

